/* .my-card {
    width: 100%;
    max-width: 800px;
    margin: 10px;
} */

.my-card {
    width: 340px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  
  .mat-divider {
    margin: 16px 0;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  .mat-label {
    font-weight: bold;
  }
  
  .mat-chip-listbox {
    margin-bottom: 16px;
  }
  
  .mat-chip-option {
    margin-right: 8px;
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    background-color: #f5f5f5;
  }
  
  button {
    margin-left: 8px;
  }
  