:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
.example-container mat-form-field {
    display: block;
}

.my-card {
    width: 100%;
    max-width: 800px;
    margin: 10px;
}
