<div id="app-root">
  <!-- Your other app content -->
  <ng-template loadingOverlay></ng-template>
</div>


<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span>Legal UY</span>
 <span class="example-spacer"></span>
 <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button>
<app-login-button></app-login-button>
</mat-toolbar>
<app-sidenav></app-sidenav>
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
<!-- <router-outlet></router-outlet> -->
