.chat-container {
    max-width: 100%;
    margin: 0 auto;
    height: 80%;
    display: flex;
    flex-direction: column;
  }

.chat-content {
    /* max-height: 300px; */
    overflow-y: auto;
    flex-grow: 1
}

.message {
    background-color: #f0f0f0;
    padding: 8px;
    margin-bottom: 8px;
}

.message-input {
    flex-grow: 1;
    margin-right: 8px;
}

.mat-card-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}
